.info {
  margin-top: 140px;
  padding: 40px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

p {
  font-size: 16.5px;
  font-family: Helvetica, sans-serif;
  line-height: 2;
}

.social-icons {
  margin-top: 300px;
  align-items: center;
}

.social-icons .bi {
  color: black;
  font-size: 24px;
}

.social-icons .bi:hover {
  color: rgb(195, 24, 93);
}

.btn-contact {
  margin-top: 20px;
  margin-right: 8px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0, 0, 0, 0.2;
}

.btn-contact a {
  text-decoration: none;
  color: white;
}

.btn-contact a:hover {
  color: black;
}

.btn-contact:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 18px;
}

.btn-cv-download {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0, 0, 0, 0.2;
}

.btn-cv-download:hover {
  background-color: black;
  color: white;
}

.bxl-html5,
.bxl-css3,
.bxl-javascript,
.bxl-react,
.bxl-bootstrap,
.bxl-figma {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(107, 109, 110);
  padding: 5px;
  font-size: 36px;
}

.bxl-html5:hover,
.bxl-css3:hover,
.bxl-javascript:hover,
.bxl-react:hover,
.bxl-bootstrap:hover,
.bxl-figma:hover {
  color: rgb(195, 24, 93);
}

@media (max-width: 576px) {
  .info {
    margin-top: 60px !important;
    padding: 20px;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 1.8;
    text-align: left !important;
  }

  span .btn-contact,
  .btn-cv-download {
    margin: 15px auto;
    display: block;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .social-icons .bi {
    font-size: 25px;
  }

  .btn-contact {
    font-size: 14px;
    padding: 10px 18px;
    margin-right: 10px;
  }

  .btn-cv-download {
    font-size: 14px;
    padding: 8px 16px;
  }

  .bxl-html5,
  .bxl-css3,
  .bxl-javascript,
  .bxl-react,
  .bxl-bootstrap,
  .bxl-figma {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 3px;
  }

  .icons {
    text-align: center !important;
  }

  .home__img {
    margin-top: 30px !important;
    width: 260px !important;
    height: 260px !important;
  }
}
