.info {
  margin-top: 130px;
  padding: 60px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

p {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  margin-top: 16px;
}

.social-icons {
  margin-top: 280px;
  align-items: center;
  font-size: 30px;
}

.social-icons .bi {
  font-size: 25px;
  color: #4caf50;
}
