.info {
  margin-top: 140px;
  padding: 40px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

p {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  margin-top: 16px;
}

.social-icons {
  margin-top: 280px;
  align-items: center;
  font-size: 30px;
}

.social-icons .bi {
  font-size: 25px;
  color: black;
}

.btn-contact {
  margin-top: 20px;
  margin-right: 8px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-contact:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 18px;
}

.btn-cv-download {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-cv-download:hover {
  background-color: black;
  color: white;
}
