.skills-section {
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  max-width: 1400px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 140px;
  background-color: rgb(248, 249, 250);
}

h2 {
  font-weight: bold;
  font-family: Optima, sans-serif;
}

p {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  margin-top: 16px;
}

.skill-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

.skill-item {
  padding: 10px;
  text-align: center;
}

@media (max-width: 576px) {
  .skills-section {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 60px;
    padding: 20px;
  }

  p {
    font-size: 16px;
    text-align: center !important;
  }

  h2 {
    font-size: 28px;
  }

  .skill-title {
    font-size: 16px;
  }
}
